.brand {
    margin-top: 1rem;
}
.center {
    padding-bottom: 1rem;
    text-align: center;
    color: #26a69a;
}
.text-danger {
    color: red;
    font-size: 15px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.afterReg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20rem;
}
.buttons {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
}
.white {
    max-width: 420px;
    margin: 40px auto;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.white input[type="text"],
.white input[type="password"],
.mb-3 p {
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s ease-in-out;
}
.dv {
    margin-bottom: 20px;
}
.white input[type="text"]:focus,
.white input[type="password"]:focus,
.mb-3 p {
    border: 1px solid #26a69a;
    outline: none;
}

.white input::placeholder {
    color: #26a69a;
    opacity: 0.5;
}

.white input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #26a69a;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.white input[type="submit"]:hover {
    background-color: #1f8b82;
}
.row {
    width: 400px;
}
.mb-3 label {
    color: orange;
}
